//fonts
$basic-font: 'Nunito', sans-serif;

//accent color
$accent-color: #ff4949;

//text-color
$primary-text-color: #ebeaf7;
$secondary-text-color: #000000;

//background
$background-hero: linear-gradient(to right, #8ca6db, #b993d6);
$background-cards: linear-gradient(to bottom, #b2e3e8, #e0b0e3);

//button
$button-color-hover: #c7133e;
