<section class="section advantage section--bg">
  <div class="container">
    <h2 class="section__title">Чому обирають нас?</h2>
    <ul class="advantage-list list">
      <li class="advantage-item">Багатолітній досвід у створенні ваших радісних моментів</li>
      <li class="advantage-item">Наші кульки літають значно довше ніж у конкурентів</li>
      <li class="advantage-item">Розміри кульок помітно відрізняються, саме тому наші букети віглядають розкішно навіть при невеликій кількості</li>
      <li class="advantage-item">Особливі побажання на кульках за 15 хвилин</li>
      <li class="advantage-item">Доставка в зазначений час</li>      
      <li class="advantage-item">Обробка латексних кульок в подарунок</li>
    </ul>
  </div>
</section>