<section class="section categories">
  <div class="container">
    <h2 class="section__title">Категорії кульок</h2>
    <ul class="categories__list">
      <li class="categories__item">
        <div class="cateegories__img-container">
          <img class="cateegories__img" src="./images/categories/birthday.jpg" alt="">
        </div>
        <h3 class="categories__title">День народження</h3>
      </li>
      <li class="categories__item">
        <div class="cateegories__img-container">
          <img class="cateegories__img" src="./images/categories/discharge.jpg" alt="">
        </div>
        <h3 class="categories__title">Виписка</h3>
      </li>
      <li class="categories__item">
        <div class="cateegories__img-container">
          <img class="cateegories__img" src="./images/categories/for-lovers.jpg" alt="">
        </div>
        <h3 class="categories__title">Для закоханих</h3>
      </li>
      <li class="categories__item">
        <div class="cateegories__img-container">
          <img class="cateegories__img" src="./images/categories/wow-box.jpg" alt="">
        </div>
        <h3 class="categories__title">Коробки (WOW BOX)</h3>
      </li>
      <li class="categories__item">
        <div class="cateegories__img-container">
          <img class="cateegories__img" src="./images/categories/photo-zone.jpg" alt="">
        </div>
        <h3 class="categories__title">Фотозони</h3>
      </li>
      <li class="categories__item">
        <div class="cateegories__img-container">
          <img class="cateegories__img" src="./images/categories/mini-bouquet.jpg" alt="">
        </div>
        <h3 class="categories__title">Міні букети</h3>
      </li>
    </ul>
  </div>
</section>