<footer class="section footer">
  <div class="container ">
    <h2 class="section__title">Контакти</h2>
    <div class="footer-contacts">
      <div class="contacts-block">
        <p class="contacts-block--pararaph">м.Київ, </p>
        <p class="contacts-block--pararaph">вул. Академіка Білецького</p>
        <ul class="contacts-block--list list">
          <li class="contacts-block--item"><a class=" link" href="tel:+380939780049">+38 093 978 00 49</a></li>
          <li class="contacts-block--item"><a class=" link" href="tel:+380502202732">+38 050 220 27 32</a></li>
        </ul>
      </div>
      <div class="social-block">
        <b class="social-title">Долучайся</b>
        <ul class="social-list list">
          <li class="social-item">
            <a class="social-link link" href="http://tlgg.ru/air_in_dreams">
              <svg class="social-icon">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a class="social-link link" href="https://instagram.com/air_in_dreams?utm_medium=copy_link">
              <svg class="social-icon">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a class="social-link link" href="viber://chat?number=%2B380502202732">
              <svg class="social-icon">
                <use href="./images/sprite.svg#icon-viber"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>