<section class="section">
  <div class="container">
    <h2 class="section__title">Вартість</h2>
    <h3>Латексні кульки</h3>
    <ul class="list">
      <li>Кулька однотонна - <span class="prise--color">35</span> грн.</li>
      <li>Кулька з малюнком - від <span class="prise--color">45</span> грн.</li>
      <li>Кулька з конфетті - <span class="prise--color">50</span> грн.</li>
      <li>Кулька хром - <span class="prise--color">50</span> грн.</li>
      <li>Кулька агат (мармурові) - <span class="prise--color">55</span> грн.</li>
      <li>Кулька Браш (фарбовані) - <span class="prise--color">55</span> грн.</li>
    </ul>
    <h3>Фольговані кульки</h3>
    <ul class="list">
      <li>Зірка / серце / круг фольговані (45см) - <span class="prise--color">95</span> грн.</li>
      <li>Зірка / серце / круг за малюнком фольговані (45 см) - від <span class="prise--color">115</span> грн.</li>
      <li>Зірка /серце / круг (70 см) фольговані - <span class="prise--color">350</span> грн.</li>
      <li>Зірка /серце/ круг (90 см) фольговані - <span class="prise--color">450</span> грн.</li>
    </ul>
    <h3>Сфери, цифри та фігури великих розмірів</h3>
    <ul class="list">
      <li>Цифра slim (102 см) - від <span class="prise--color">260</span> грн.</li>
      <li>Цифра стандарт (102 см) - від <span class="prise--color">300</span> грн.</li>
      <li>Міні гігант (45 см) однотонний / з конфетті - від <span class="prise--color">200</span> до <span class="prise--color">230</span> грн.</li>
      <li>Гігант (60 см ) однотонний / з конфетті - від <span class="prise--color">600</span> до <span class="prise--color">680</span> грн.</li>
      <li>Гігант дзеркальний 70 см - від <span class="prise--color">850</span> грн.</li>
      <li>Кулька Баблс з пір‘ям/ кульками з індивідуальним написом (50 см) - <span class="prise--color">500</span> грн.</li>
      <li>Кулька баблс з пір‘ям / кульками з індивідуальним написом (70 см) - <span class="prise--color">850</span> грн.</li>
      <li>Фольговані фігури з гелієм прораховуються індивідуально від <span class="prise--color">250</span> до <span class="prise--color">550</span> грн.</li>
      <li>Ходячі фольговані фігури від <span class="prise--color">990</span> грн.</li>
    </ul>
  </div>
</section>