<section class="section">
  <div class="container">
    <h2 class="section__title">Вартість</h2>
    <h3 class="price-title">Латексні кульки</h3>
    <ul class="price-list list">
      <li class="price-item">
        <svg class="price-icon">
          <use href="./images/sprite.svg#icon-balloons"></use>
        </svg>Кулька однотонна - <span class="prise--color">35</span> грн.</li>
      <li class="price-item">
        <svg class="price-icon">
        <use href="./images/sprite.svg#icon-balloons"></use>
      </svg>Кулька з малюнком - від <span class="prise--color">45</span> грн.</li>
      <li class="price-item"><svg class="price-icon">
          <use href="./images/sprite.svg#icon-balloons"></use>
        </svg>Кулька з конфетті - <span class="prise--color">50</span> грн.</li>
      <li class="price-item"><svg class="price-icon">
          <use href="./images/sprite.svg#icon-balloons"></use>
        </svg>Кулька хром - <span class="prise--color">50</span> грн.</li>
      <li class="price-item"><svg class="price-icon">
          <use href="./images/sprite.svg#icon-balloons"></use>
        </svg>Кулька агат (мармурові) - <span class="prise--color">55</span> грн.</li>
      <li class="price-item"><svg class="price-icon">
          <use href="./images/sprite.svg#icon-balloons"></use>
        </svg>Кулька Браш (фарбовані) - <span class="prise--color">55</span> грн.</li>
    </ul>
    <h3 class="price-title">Фольговані кульки</h3>
    <ul class="price-list list">
      <li class="price-item"><svg class="price-icon">
          <use href="./images/sprite.svg#icon-balloons"></use>
        </svg>Зірка / серце / круг фольговані (45см) - <span class="prise--color">95</span> грн.</li>
      <li class="price-item"><svg class="price-icon">
          <use href="./images/sprite.svg#icon-balloons"></use>
        </svg>Зірка / серце / круг за малюнком фольговані (45 см) - від <span class="prise--color">115</span> грн.</li>
      <li class="price-item"><svg class="price-icon">
          <use href="./images/sprite.svg#icon-balloons"></use>
        </svg>Зірка /серце / круг (70 см) фольговані - <span class="prise--color">350</span> грн.</li>
      <li class="price-item"><svg class="price-icon">
          <use href="./images/sprite.svg#icon-balloons"></use>
        </svg>Зірка /серце/ круг (90 см) фольговані - <span class="prise--color">450</span> грн.</li>
    </ul>
    <h3 class="price-title">Кульки великих розмірів</h3>
    <ul class="price-list list">
      <li class="price-item"><svg class="price-icon">
          <use href="./images/sprite.svg#icon-balloons"></use>
        </svg>Цифра slim (102 см) - від <span class="prise--color">260</span> грн.</li>
      <li class="price-item"><svg class="price-icon">
          <use href="./images/sprite.svg#icon-balloons"></use>
        </svg>Цифра стандарт (102 см) - від <span class="prise--color">300</span> грн.</li>
      <li class="price-item"><svg class="price-icon">
          <use href="./images/sprite.svg#icon-balloons"></use>
        </svg>Міні гігант (45 см) однотонний / з конфетті - від <span class="prise--color">200</span> до <span class="prise--color">230</span> грн.</li>
      <li class="price-item"><svg class="price-icon">
          <use href="./images/sprite.svg#icon-balloons"></use>
        </svg>Гігант (60 см ) однотонний / з конфетті - від <span class="prise--color">600</span> до <span class="prise--color">680</span> грн.</li>
      <li class="price-item"><svg class="price-icon">
          <use href="./images/sprite.svg#icon-balloons"></use>
        </svg>Гігант дзеркальний 70 см - від <span class="prise--color">850</span> грн.</li>
      <li class="price-item"><svg class="price-icon">
          <use href="./images/sprite.svg#icon-balloons"></use>
        </svg>Кулька Баблс з пір‘ям/ кульками з індивідуальним написом (50 см) - <span class="prise--color">500</span> грн.</li>
      <li class="price-item"><svg class="price-icon">
          <use href="./images/sprite.svg#icon-balloons"></use>
        </svg>Кулька баблс з пір‘ям / кульками з індивідуальним написом (70 см) - <span class="prise--color">850</span> грн.</li>
      <li class="price-item"><svg class="price-icon">
          <use href="./images/sprite.svg#icon-balloons"></use>
        </svg>Фольговані фігури з гелієм прораховуються індивідуально від <span class="prise--color">250</span> до <span class="prise--color">550</span> грн.</li>
      <li class="price-item"><svg class="price-icon">
          <use href="./images/sprite.svg#icon-balloons"></use>
        </svg>Ходячі фольговані фігури від <span class="prise--color">990</span> грн.</li>
    </ul>
  </div>
</section>