<section>
  <div class="container">
    <h2 class="section__title">Наші відгуки</h2>
    <ul class="reviews__list list">
      <li class="reviews__item">
        <div class="reviews__img-container">
          <img class="reviews__img" src="./images/reviews/photo_2022-01-17_19-35-17_reviews.jpg" alt="">
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__img-container">
          <img class="reviews__img" src="./images/reviews/photo_2022-01-17_19-35-19_2_reviews.jpg" alt="">
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__img-container">
          <img class="reviews__img" src="./images/reviews/photo_2022-01-17_19-35-19_3_reviews.jpg" alt="">
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__img-container">
          <img class="reviews__img" src="./images/reviews/photo_2022-01-17_19-35-19_3_reviews.jpg" alt="">
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__img-container">
          <img class="reviews__img" src="./images/reviews/photo_2022-01-17_19-35-19_4_reviews.jpg" alt="">
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__img-container">
          <img class="reviews__img" src="./images/reviews/photo_2022-01-17_19-35-19_reviews.jpg" alt="">
        </div>
      </li>
    </ul>
  </div>
</section>