.header {
  background-image: $background-hero;
}

.header__wrap {
  // position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__img-container {
  padding-top: 5px;
  padding-bottom: 5px;
}

.header__img-logo {
  max-width: 100px;
}

.header__contact-list {
  margin-left: auto;
}

.header__contact-list-item {
  padding: 5px;
}

// .icon-menu {
//   width: 20px;
//   height: 12px;
//   stroke: $accent-color;
//   background-color: none;
// }
