.header {
  font-weight: bold;
  color: $primary-text-color;
  // background-image: $background-hero;
  background-image: $background-hero;
  background-repeat: no-repeat;
  background-position: top right;

  @media screen and (min-width: 768px) {
    background-image: url(/images/header/pink-air-balloons-2022.png), $background-hero;
  }
}

.header__wrap {
  // position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__img-container {
  padding-top: 5px;
  padding-bottom: 5px;
}

.header__img-logo {
  max-width: 100px;
}

.header__contact-list {
  margin-left: auto;
}

.header__contact-list-item {
  padding: 5px;
}

// .contact__link {
//   color: $button-color-hover;
// }

// .icon-menu {
//   width: 20px;
//   height: 12px;
//   stroke: $accent-color;
//   background-color: none;
// }
