.prise--color {
  font-weight: bold;
  font-size: 20px;
  color: $button-color-hover;
}

.price-title {
  margin-left: 50px;
  margin-bottom: 15px;
}

.price-list {
  margin-bottom: 15px;
}

.price-item {
  margin-bottom: 5px;
}

.price-icon {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  margin-bottom: -4px;
}
