.prise--color {
  font-weight: bold;
  font-size: 20px;
  color: $button-color-hover;
}

.price-title {
  margin-left: 50px;
  margin-bottom: 15px;
}

.price-list {
  margin-bottom: 15px;
}

.price-item {
  margin-bottom: 5px;

  &::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;

    border-radius: 50%;
    background-color: $button-color-hover;
    margin-right: 5px;
    margin-bottom: 2px;
  }
}

.price-icon {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  margin-bottom: -4px;
}
